body {
    word-break: break-word;
}

.summary {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
}

.modules {
    display: none;
    height: 600px;
    overflow: auto;
    padding: 6px;
    background: lightgrey;
    border-radius: 6px;
    text-align: left;
}

.summary:hover .modules {
    display: block;
}

.covered {
    color: gray;
}

.number {
    font-size: 12px;
    color: lightgrey;
    padding: 0 1px;
}

.source {
    font-size: 12px;
    color: lightgrey;
    float: right;
}

.path {
    display: inline-block;
    margin: 0 3px;
    padding: 1px 10px;
    border: 1px solid darkgray;
    border-radius: 20px;
    background: lightblue;
}

.total {
    border: 1px solid;
    border-radius: 15px;
    padding: 2px 8px;
    line-height: 22px;
}

.module {
    padding: 4px 0;
}

.total.danger {
    color: red;
}

.tip {
    color: gray;
    font-size: 12px;
}
